@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Satisfy', cursive;
    
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;
    
    --light-purple: #a8b6dc;
    --dark-blue: #1d3557;
    --blue: #457b9d;
    --light-blue: #a8dadc;
    --red: #e63946;
    --dark-grey: #5e5e5e;
    --light-grey: #e8e9e8;
    --offwhite: #f1faee;

    --fs-h1: 1.5rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1rem;
    --fs-h4: 0.75rem;
    --fs-body: 0.6rem;

}

/* general properties */
*{
    box-sizing: border-box;
}
body{
    background-color: var(--offwhite);
    font-family: var(--ff-primary);
    height:100vh; 
    display:flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}

ul{
    list-style: none;  
    padding:0; 
    margin: 0;
}

a{
    text-decoration: none;
}
img{
    width:100%;
}

.nav-container{
    background-color: var(--dark-blue);
    position:relative;
}
.top-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

#website-logo img{
    height: 100%;
}

#website-logo{
    height:60px;
}

.hamburger{
    box-sizing: content-box;
    border: none;
    font-size: var(--fs-h3);
    background-color: var(--dark-blue);
    color:var(--offwhite);
}
.hamburger .close-icon{
    display:none;
}

.social-header, .hero-design{
    display:none;
}

.nav-bar{
    display: flex;
    background-color: rgba(167, 218, 220,0.85);
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em;
    position:fixed;
    top:60px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.2s;
}

.showMenu {
    transform: translateY(0);
}

.options-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1em;    
}

.options-container a {
    color:black;
    font-weight: var(--fw-med);
}

.hero .content{
    background-color: var(--light-blue);
    display:flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding:3em;
    align-content: space-between;
}

.hero .content h1{
    font-size:var(--fs-h1);
    color:var(--red);
    line-height: 1.5em;
}

.scroll-action-img{
    margin: 0 auto;
    width:20px;  
}

.meet{
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    margin-top:5em;
}

.meet #fake-tags{
    margin-right:170px;
}

section{
    padding:3em 2em 0 2em;
    text-align: center;
}

.featured{
    position: relative;
}

.featured::before{
    content: '';
    position: absolute;
    width: 180px;
    height: 200px;
    background-image: url(/img/featured-background.svg);
    background-size: cover;
    z-index: -1;
    top : 0;
    left: 0;
}

.subtitle{
    display: inline-block;
    padding: 0 1em;
    text-transform: uppercase;
    border:1px solid var(--red);
    border-radius: 0.5em;
    font-weight: var(--fw-bold);
    color:var(--red);
    letter-spacing: 0.4em;
    font-size: var(--fs-body);
}

.featured-title{
    color:black;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    display: block;
}

.featured-desc{
    color:var(--dark-grey);
    margin-bottom:3em;
    font-size:var(--fs-body);
    line-height:1.8em;
    font-weight: var(--fw-med);
}

.portfolio{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section-heading{
    font-size: var(--fs-h2);
}

.project-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:2em;
    margin:1em 4em;
    position: relative;
}

.project{
    min-width:30%;
    width:250px;
}

.about-me{
    padding-bottom: 4em;
}

.about-me-heading{
    font-size: var(--fs-h2);
    color: var(--red);
    font-weight: var(--fw-bold);
}

.about-me-text{
    font-size: var(--fs-body);
    color:var(--dark-grey);
}

.skills-icon{
    width:var(--fs-body);
}

.information{
    display:flex;
    flex-direction: column;
}

.info-heading{
    font-size: var(--fs-h2);
    margin:0.5em;
    margin-bottom: 0;
}

.sub-heading{
    font-size: var(--fs-h4);
    margin:0.5em;
    line-height: 1.1em;
}

li{
    font-size: var(--fs-body);
    color:var(--dark-grey);
}

.skills{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2em;
    margin: 0 4em;
}

.download{
    display:flex;
    margin-top:2em;
    flex-wrap: wrap;
    justify-content: center;
}

.download-cv{
    max-width:fit-content;
    background-color: var(--dark-blue);
    font-size: var(--fs-body);
    color: var(--offwhite);
    padding:1em 2em;
    border:none;
    margin:0.5em;
}



footer{
    background-color: var(--dark-blue);
    position: relative;
}

footer img{
    width: 100px;
    height: 100%;
    position: absolute;
    
}

#footer-left-img{
    top: 0;
    left:0;
}

#footer-right-img{
    top:0;
    right:0;
}

.footer{ 
    padding:3em;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    gap:2em;
}

.footer-nav a{
    color:white;
    font-size:var(--fs-h4);
    text-align: center;
}


