@media screen and (min-width:800px){
    .nav-bar{
        position:fixed;
        height:100vh;
    }
    #hamburger{
        display:none;
    }
    .options-container a {
        writing-mode: vertical-lr;
    }
    .download-cv:hover{
        background-color:var(--dark-grey);
    }
}
