@media screen and (min-width:768px){
    .hamburger{
        display:none;
    }
    body{
        margin-left:50px;
    }
    .top-nav{
        background-color:#a8dadc;
        width:66%;
    }
    .nav-container{
        display:flex;
        background-color: unset;
        justify-content: space-between;
    }
    .hero-design, .social-header{
        display:inline;
    }
    .social-header {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34%;
        gap:1em;
    }
    .hero{
        display:grid;
        grid-template-columns: 66% auto;
        position: relative;
    }
    .hero-design{
        width:40%;
        position: absolute;
        left:46%;
    }
    .hero .content{
        text-align:unset;
    }
    .nav-bar{
        height:100vh;
        width:50px;
        transform: none;
        display: inline-flex;
        flex-direction: row;
        background-color:#457b9d;
        border-right:3px solid #e8e9e8;
        justify-content:center;
        top: unset;
        padding:0.5em;
    }
    .options-container a {
        writing-mode: vertical-lr;
        padding-top:3em;
        color:white;
    }
   
    .icon:hover{
        transform: scale(1.1);
        transition: transform 0.1s;
    }
    section{
        text-align: left;
    }
    
}
@media screen and (min-width:768px) and (max-width:1023px){
    :root{
        --fs-h1: 2rem;
        --fs-h2: 1.75rem;
        --fs-h3: 1.35rem;
        --fs-h4: 1rem;
        --fs-body: 0.8rem;
    }
}

@media screen and (min-width:1024px){
    :root{
        --fs-h1:    3rem;
        --fs-h2:    2.25rem;
        --fs-h3:    1.75rem;
        --fs-h4:    1.25rem;
        --fs-body:  1rem;
    }
    
    .download-cv:hover{
        background-color:var(--dark-grey);
    }
    .download-cv:active{
        background-color:var(--red);
    }
    ul li {
        text-align: left;
        margin-left: 1em;
    }
    .skills{
        gap:5em;
    }
    
    .project:hover{
        transform: scale(1.1);
        transition: transform 0.2s;
    }

}
